// showing default values
$brandColor = #4C9AFF
$accentColor = #FFD43B
$textColor = #000000
$borderColor = $brandColor
$codeBgColor = #5d5d5d
$badgeTipColor = #ffffff
$badgeWarningColor = #ffd66c
$badgeErrorColor = #d16259
$textShadow = $accentColor 1px 0 2px;
